{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "cargo bump ${nextRelease.version}",
        "publishCmd": "cargo publish --dry-run --allow-dirty && echo '{\"name\":\"${nextRelease.name}\",\"url\":\"https://crates.io/crates/${nextRelease.name}\"}'"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "Cargo.toml"
        ],
        "message": "chore(release): v${nextRelease.version} [skip ci]"
      }
    ]
  ]
}
