{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "perl -pi -e 's/^version = \"(.*)\"$/version = \"${nextRelease.version}\"/g;' Cargo.toml",
        "publishCmd": "cargo publish --dry-run"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "Cargo.toml"
        ],
        "message": "v${nextRelease.version}\n\n[skip ci]"
      }
    ]
  ]
}
